{{template "admin_base" .}}

{{define "admin_css"}}{{end}}
{{define "admin_title"}}Dashboard{{end}}


{{define "admin_main_content"}}
    <div class="app-layout">
        <nav-bar id="mainNav"></nav-bar>
        <main class="main-content">
            <app-header titre="Dashboard" username="{{.User.Username}}" email="{{.User.Email}}" logout="{{$.admin_path}}/logout" restart="{{$.admin_path}}/restart"></app-header>
            <div class="content-area">
                <div class="dashboard-grid">
                    {{if .withRequestCounter}}
                    <div class="stats-card">
                        <h3>API Requests</h3>
                        <p>{{.requests}}</p>
                    </div>
                    {{end}}
                    {{range .stats}}
                    <div class="stats-card">
                        <h3>{{.Name | safe}}</h3>
                        <p>{{call .Func | safe}}</p>
                    </div>
                    {{end}}
                </div>
            </div>
        </main>
    </div>
{{end}}

{{define "admin_js"}}{{end}}